
body {
    margin: 70px;
    background-color:#dadada
}

p {    
   margin: 20px;
}

.breadcrumb {
    list-style-type: none;
    bottom: 85%;

}

.breadcrumb li {
    display: inline;
    font-size: 13px;
}

.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";

}

.breadcrumb li a {
    color: #245885;
    text-decoration: none;
  }

.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

nav {
    text-align: right;
    padding-bottom: 20px;  
}

.container {
    position: relative;
    text-align: center;
    color: rgba(255, 255, 255, 0.979);
}

h1 { 
  position: absolute;
  top: 40%;
  left: 50%;
  padding: 30px;
  transform: translate(-50%, -50%);
  font-family: helvetica;
  font-size: 8vw; /* From w3school, considering to try dvh or lvh.*/
  font-weight: 200;
  
}

h2 {
  position: absolute;
  top: 60%;
  left: 50%;
  padding-top: 5vw;
  transform: translate(-50%, -50%);
  font-family: helvetica;
  font-size: 3vw;
  font-weight: 100;

}

.oksatjønnIMG {

    max-width: 100%;
    height: auto;
    opacity: 0.8;
}