/*CSS for activity, sorted by sections. */

* {
  box-sizing: border-box;
}

/*Body-tag for activity page*/
.activity {
    margin:0;
    background-color:#dadada;
    font-family: helvetica;
}

/*main-tag in activity page*/
.activity-main{
  margin: 7vw;
  margin-top: 0;
}

/*Flexbox for activity page header*/
.activity header {
  margin: 15px 0px 15px 0px;
  padding-left: 7vw;
  padding-right: 7vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#dadada;
 }

 .activity h1 {
  font-weight: 100;
  font-size: 2rem;
  color: rgb(38, 47, 39);
  margin: 0px 0px 0px 5px;
 }

 .activity nav ul{
  display: flex;
  list-style-type: none;
 }

.activity nav a {
  flex:1;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 1vw;
  text-decoration: none;
  font-size: 1vw;
  border-radius: 5px;
}

@media screen and (max-width:500px) {
  .activity header {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .activity h1 {
    padding:5px;
  }

  .activity nav a {
    font-size: 3vw;
    padding: 5px;
  }
}

.activity nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Adding a color to the active/current link */
.activity nav a.active {
  background-color: rgba(99, 134, 108, 0.659);
  color: white;
}

.activity h2 {
  position: absolute;
  top: 40%;
  left: 50%;
  padding: 30px;
  transform: translate(-50%, -50%);
  font-size: 8vw;
  font-size: 8vw;
  font-weight: 200;  
}

.activity h3 {
  position: absolute;
  top: 60%;
  left: 50%;
  padding-top: 5vw;
  transform: translate(-50%, -50%);
  font-size: 3vw;
  font-weight: 100;
}

.activity h4, h5 , h6, .h7 {
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  color: rgb(38, 47, 39);
  margin-bottom:0;
}

/*Container for main image, based on example from w3schools */
.img-container {
  position: relative;
  text-align: center;
  color: rgba(255, 255, 255, 0.979);
  margin-left: 5px;
  margin-right: 5px;
}

.img-container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.img-credits {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 7px;
}

.img-gallery {
  display: flex;
  flex-direction: row;
}

/*Style for each image box*/
.img-gallery div{
  flex:1;
  align-items: center;
  box-shadow: rgb(107, 103, 103) 2px 2px 7px;
  border: 2px solid #ccc;
  border-bottom: 0px;
  margin: 5px;
  border-radius: 5px;
  max-width: 100%;
}

/*size for the rest of the pictures*/
.img-gallery img, .gallery img, .grid-container img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/*First article*/
.about-activity{
  display:flex;
  flex-direction: row;
  align-items: top;
}

@media screen and (max-width: 800px) {
  .about-activity{
    display:grid;
    align-items: center;
  }
}

/*Information table*/
.about-activity .infobox {
  flex:1;
  padding: 3vw; 
  border-spacing: 10px;
  margin: 3vw;
  border-radius: 15px;
  background-color: rgba(97, 129, 109, 0.542);
  box-shadow: 2px 2px 7px rgb(107, 103, 103);
  color: rgb(247, 242, 242);
}

.activity-text {
  flex: 2;
  width: 90%;
  text-align: justify;
  margin: 3vw;
  border-radius: 15px;
}

.about-activity a {
  color: #285b88;
  text-decoration: none;
  transition: color 0.15s;
}

.about-activity a:hover {
  color: #01447e;
  text-decoration: underline;
}

/*For article two*/
.grid-container {
 display: grid;
 grid-template-columns: 1fr 1fr;
 column-gap: 30px;
 align-items:end;
 padding-bottom: 30px;
 padding-top: 0;
}

@media screen and (max-width: 500px) {

  .grid-container {
    display:inline-block;
  }
}

  .grid-container section {
  display:flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  justify-content: center;
}

 .grid-container a {
  text-decoration: none;
  color: rgba(247, 242, 242, 0.782);
  margin-top: 20px;
  padding: 10px; 
}

 .grid-container span {
  padding: 10px; 
  margin-top: 20px;
  margin-bottom: 20px;
  width:50%;
  text-align: center;
  font-size: 16px;
  border-radius: 15px;
  background-color: rgb(97, 129, 109);
  color: rgba(247, 242, 242, 0.782);
  border: none;
  box-shadow: 2px 2px 7px rgb(107, 103, 103);
  transition: background-color 0.15s; 
}

 .grid-container span:hover{
  cursor: pointer;
  background-color:rgba(78, 105, 88, 0.779);
  transform: translateY(4px); 
}

 /*taken from w3schools*/
article .gallery {
  border: 1px solid #ccc;
  box-shadow: rgb(107, 103, 103) 2px 2px 7px;
  border-radius: 5px;
  transform: border 0.15s;
}

article .gallery:hover {
  border: 1px solid #777;
}

article div.desc {
  padding: 15px;
  text-align: center;
}

article .responsive {
  padding: 0 6px;
  margin-top: 20px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  article .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  article .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.activity-footer {
  text-align: center;
  background-color: #dadada;
}
 

