html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    margin: 0;
    overflow-x: hidden;
}


header {
    padding: 20px;
    background-color: aquamarine;
    position: relative;
}

h1 {
    text-align: center;
}

h2, p, h3 {
    padding-left: 2rem;
    text-align: left;
}
 .commit_history, .specifc_change {
    padding: 1.75rem;
 }

 .box {
    align-items: center;
 }
    @media (orientation: portrait) {
        .box {
                  min-width: 800px;
        }
  

    }

