
/* line-height, font-size and color-contrast following WCAG-recommentations for better accessibility*/
.accessibility-body {
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    color: #000000;
    background-color: #ffffff;
    line-height: 1.6;
}

header {
    background-color: #004d4d;
    color: #ffffff;
    padding: 1rem 2rem;
    border-bottom: 4px solid #006666;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

header h1 {
    padding: 1rem 2rem;
    font-weight: 100;
    font-size: 2rem;
}
  
header .nav ul{
    display: flex;
    list-style-type: none;
    text-align: center;
   }
  
 header .nav a {
    flex:1;
    padding: 1vw;
    text-decoration: none;
    font-size: 1vw;
  }
  
  @media screen and (max-width:500px) {
     header {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  
     header .nav a {
      font-size: 1rem;
    }
  }

header .nav a {
    color: #ffffff;
    text-decoration: none;
}

header .nav a:hover {
    text-decoration: underline;
}

/* Start of accessibility css code */

/* line-height, font-size and color-contrast following WCAG-recommentations for better accessibility*/
.accessibility-body {
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    color: #000000;
    background-color: #ffffff;
    line-height: 1.6;
}

/* padding following WCAG-rec. for better accessibility*/
.main-content{
    padding: 1rem;
}

.breadcrumb {
    list-style: none;
    text-align: center;
  }
  
  /* Display list items side by side */
 .breadcrumb li {
    display: inline;
    font-size: 12px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  .breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  .breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  .breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

 .accessibility-sections {
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: transparent;
    padding: 1rem;
    border: 2px #ddd solid;
    border-radius: 5px;
}
.accessibility-sections:focus {
    outline: 2px bold
    #00f;
    outline-offset: 5px;
}
.mode-switch {
    justify-content: center;
}

/* Creating darkmode and lightmode of body + the design of the buttons. Source linked below*/
 /* https://www.geeksforgeeks.org/how-to-make-dark-mode-for-websites-using-html-css-javascript/*/
.dark-mode {      
    background-color: black;
    color: white;
}
.light-mode {
    background-color: #ffffff;
    color: #000000;
}
.btn-dark, .btn-light
{
    height: 30px;;   
    font-weight: bold;
    border-radius: 8px;
}
.btn-dark {
    background-color: black;
    color: #ffffff;
    border: #000000 2px solid;
}
.btn-light {
    background-color: #ffffff;
    color: #000000;
    border: #ffffff 2px solid;
}
/* making the buttons seem interactable by change in style when user hover over buttons*/
.btn-dark:hover, .btn-light:hover {
    background-color: transparent;
}
.btn-dark:hover {
    color: #000000;
    border: #000000 2px solid;
}
.btn-light:hover {
    color: #ffffff;
    border: #ffffff 2px solid;
}

/* Styling the links in the text with a strong blue-color to enhance the link's visibility. Removing underline to integrate link into text*/
.WCAG-link {
    color:#2546f0;
    text-decoration: none;
}

.accessibility-img {
    width: 100%;
    height: auto;
}
/* Styling the input forms. making the width align with the section width. */
form input[type="text"], form input[type="email"] {
    padding: 10px;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: 2px solid #006666;
    border-radius: 5px;
    font-size: 15px;
}
/* designint the submit-button and changing color when hover over*/
.submit-btn {
    height: 40px;
    width: 100%;
    background-color: #2546f0;;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: rgb(255, 102, 1); 
    color: #ffffff;
}
/* styling a possible error message regarding the input forms */
.error-message {    
    color: red;
    font-size: 0.9em; 
    display: none;
}
/* hjelper svaksynte til å se skrivefeltet*/
a:focus, input:focus, .WCAG-link:hover { 
    outline: rgb(255, 102, 1) 3px solid; 
}

footer {
    background-color: #004d4d;
    border-top: 4px solid #006666;
    padding: 1rem;
    text-align: center;
    color: #ffffff;
}
/* End of Accessibility css */


.indexheader, .indexhead {
    background-color: #004d4d;
    color: white;
    padding: 1rem 2rem;
    border-bottom: 4px solid #006666;
    height: 100%;
}

.indexheader .StudyOverveiw {
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 0;
    color: #ffffff;
}

.indexheader nav ul {
    list-style: none;
    padding: 0;
}

.indexheader nav ul li {
    display: inline;
    margin-right: 15px;
}

.indexheader nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}

.indexheader nav ul li a:hover {
    text-decoration: underline;
}

/* Adjust the width of the main */
.indexmain {
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
}

/*Allinging the main header center*/
.indexh1 {
    text-align: left;
    font-size: 1.8rem;
    margin-bottom: 0;
}