/* Index css code */

/*Styling image*/
.oslometIMG {
    /*position: fixed;*/
    bottom: 47vw; /* 10px from the bottom of the viewport */
    right: 90vw; /* 10px from the right of the viewport */
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    margin: 0;
    padding: 0;
    height: auto;

}
/*Basic body styling*/
.indexbody {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*Basic header style: background color, spacing, text color, and a bottom-set border*/
.indexheader {
    background-color: #004d4d;
    color: white;
    padding: 1rem 2rem;
    border-bottom: 4px solid #006666;
    height: 100%;
}
/*Navigation menu*/
.indexheadernav ul {
    list-style: none;
    padding: 0;
}

.indexheader nav ul li {
    display: inline;
    margin-right: 15px;
}

.indexheader nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.indexheader nav ul li a:hover {
    text-decoration: underline;
}



/* Adjust the width of the main */
.indexmain {
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
}

/*Allinging the main header center*/
.indexh1 {
    text-align: left;
    font-size: 50px;
    padding: 10px;
}

/*Styling for study overview*/
  .studieoversikt a {
    font-weight: bold;
    color: #ffffff;
    text-decoration: underline;
  }
/*Adding style for bachleorprogramTable's table*/
.BachelorprogramTable {
    border-spacing: 30px 10px;
    width: 100%;
    text-align: left;
}

.BachelorprogramTable tr, td {
    font-size: 25px;
    padding: 20px 10px;

}
.BachelorprogramTable td {
    background-color: #129c9c;
    box-shadow: 8px 8px 4px gray;
}
/*Adjusting table layout so it works on different displays*/
@media (orientation: portrait) {
    .BachelorprogramTable tr td {
        display: block;
}
}

/* Font settings and text decoration*/
.indexh2 {
    font-size: 25px;
    padding: 10px;
}
.Studieoversikt {
    text-decoration: underline;
}
/*Styling for drop-down headers*/
.NedtrekkOverskrifter {
    font-size: 20px;
    font-weight: bold;
}
/*Style for text below Bachlorprogram*/
.Underskrift {
    font-size: 15px;
    margin: zero;
}

.underOverskrift {
    font-weight: bold;
}
/* styling for drop-down list */
.info {
    font-family: Arial, sans-serif;
    margin: 10px;
    line-break: strict;
    background-color: #F5FBFF;
    
}

/*Margin for text elements in dropdown list*/
details p, a{
    margin-left: 30px;
}

/*Defining margins for Semester class*/
.semester details {
    margin-top: 5px;
    margin-bottom: 5px;
}
.semester p {
    margin-left: 20px;
    max-width: 100%;
}
.semester {
    margin-left: 40px;
}

/*Making summary a flex container, allign content center, make cursor to pointer, changing font and padding*/
summary {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    background-color: #129c9c;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    box-shadow: 8px 8px 4px gray;
}
.nedtrekkArtikler {
    border-radius: 25px;
}
/*Make "Studiets oppbygning" dropdowns different color*/
.headerForDropDown {
    background-color: #26c387;
    margin-bottom: 10px;
}
/*Make closed dropdown symbol to "+"*/
summary::before {
    content: "+";
    width: 20px;
    height: 20px;
    font-weight: bold;
    margin-right: 10px;
    
}
/* Change "+" symbol to "-" when the details element is open*/
details[open] summary::before {
    content: "-";
    padding-bottom: 7px;
    padding-left: 1px;
}
/*Basic syling for link*/
a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
}
/*When hover link make underline*/
a:hover {
    text-decoration: underline;
}

/*Make item to flex box, with direction as column*/
.nedtrekkArtikler{
    display: flex;
    flex-direction: column;
}




.indexfooter {
    background-color: #004d4d;
    position: relative;
    padding: 10px;
    text-align: left;
    color: #fff; 
    line-break: strict; 
    width: 100%;
}

.newsletter-link {
    display: inline-block;           
    background-color: #000;          
    color: #fff;                     
    padding: 20px 30px;              
    text-decoration: none;                         
    text-align: center;     
    font-weight: bold; 
    font-size: 16px;        
    border-radius: 5px;              
    margin-bottom: 10px;             
}

.newsletter-link:hover {
    background-color: #333;          
}

hr.solid {
border-top: 1px solid black;
border-bottom: black;
}

.schoolbanner {
    text-align: left;
    color: #fff;  
    font-size: 14px;
}
.bold-text {
   margin: 0;
   font-weight: bold;
   color: #fff;  
}
.normal-text {
   margin: 0;
   font-weight: normal;
}

.contact-info {
    text-align: left;
    font-size: 16px;
    color: #fff;  
}
.contact-info p {
    margin: 4px 0;
    
}
.contact-link {
    text-decoration: none;
    font-weight: bold;
    color: #fff;  
}
.contact-link:hover {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.footer-links {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 10px;
}

.footer-links a {
    color: #fff;  
    font-weight: bold;
    text-decoration: none; 
}
.footer-links a:hover {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
    padding-top: 40px;
}

.footer-icons a {
    color: #fff;  
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}
.footer-icons a:hover {
    text-decoration: underline;
}

.footer-icons img {
    width: 30px;
    height: 30px;
}

.study-place {
    display: block;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.underline-text-place {
    text-decoration: underline;
    text-decoration-color:rgb(136, 172, 224);
    text-decoration-thickness: 2px;
    margin-bottom: 20px;
}

.education-questions {
    display:block;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.underline-text-q {
    text-decoration: underline;
    text-decoration-color:rgb(136, 172, 224);
    text-decoration-thickness: 2px;
    margin-bottom: 20px;
}


.manager-title {
    display: block;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.further-interests-title {
    font-weight: bold;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.manager-profile {
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    transition: background-color 0.3s; 
    justify-content: space-between; 
    margin:0 auto;
}

.manager-profile:hover {
    background-color: #f0f0f0;
}

.manager-image img {
    width: 121px;
    height: 162px;
    border-radius: 8px;
    margin-right: 20px;
}

.manager-info {
    font-size: 14px;
    flex-grow: 1;
    margin-right: 20px;
   
}

.manager-info strong {
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}
 .arrow {
    font-size: 24px;
    margin-left: 20px;
 }



.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    gap: 15px;
}

.card { 
    display: flex;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    text-decoration: none;
    color: inherit;
    margin: auto;
    gap: 15px;
    align-items: center;
}


.card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card-content {
    padding: 16px;
    background-color: #fff;
}

.card-content h3 {
    font-size: 18px;
    margin: 0 0 8px;
    color: #333;
}

.card-content p {
    font-size: 14px;
    color: #666;
}
/* End of Index css code */