
.oslometIMG {
    /*position: fixed;*/
    bottom: 47vw; /* 10px from the bottom of the viewport */
    right: 90vw; /* 10px from the right of the viewport */

}
/* Adjust the content width for smaller screens */

main {
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(136, 172, 224);
    position: relative;
    padding: 10px;
}

h1 {
text-align: center;
}


.oslometIMG {
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    margin: 0;
    padding: 0;
    height: auto;
}
.nav {
    text-align: right;
    padding-right: 20px;
}
  

ul {
    list-style-type: none;
    margin-top:0px;
    padding: 0;
    margin-top: 0;
}

li {
    display: inline-block;
    margin: 20px; 
}

.search {
    position: relative;
    display: inline-block;
}
.search .input {
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 5px;
    height: 15px;
    width: 0px;  /* Initially width is 0 to hide input field */
    opacity: 0;  /* Make input invisible */
    transition: width 0.3s ease, opacity 0.3s ease;  /* Animating width and opacity */
}
.btn {
    background-color: rgb(136, 172, 224);
    border: 0;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    height: 30px;
    width: 30px;
    transition: transform 0.3s ease;
}
.btn:focus,
.input:focus {
    outline: none;
}
.search:hover .input {
    width: 200px; /* Expand the input field */
    opacity: 1;  /* Make input field visible */
}

  .dropdown {
    position: relative;
    display: inline-block;
    color: #333; 
    padding-right: 50px; 
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: auto; 
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
    text-align: left;
    border-radius: 4px;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-weight: normal;
  }
  
  .dropdown-content a:hover {
    background-color: #f0f0f0;
    text-decoration: none; 
    font-weight: bold;
  }
  
  /* Showing dropdown on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .studieoversikt a {
    font-weight: bold;
    color: black;
    text-decoration: underline;
  }

  .studieoversikt img {
    height: 15px;
    width: 15px;
    margin-right: 5px;
  }

.BachelorrogramTable {
    border-spacing: 30px 10px;
    width: 100%;
    text-align: left;
}

.BachelorrogramTable tr, td {
    font-size: 25px;
    padding: 20px 10px;

}
.BachelorrogramTable td {
    background-color: rgb(136, 172, 224);
    box-shadow: 8px 8px 4px gray;
}

@media (orientation: portrait) {
    .BachelorrogramTable tr td {
        display: block;
}
}

/* Font settings */
h1 {
    font-size: 50px;
    padding: 10px;
}
h2 {
    font-size: 25px;
    padding: 10px;
}
.Studieoversikt {
    text-decoration: underline;
}
.NedtrekkOverskrifter {
    font-size: 20px;
    font-weight: bold;
}
iframe {
    width: 80vw;
    height: 45vw;
    margin: auto;
    display: block;
}


.Underskrift {
    font-size: 15px;
    margin: zero;
}
.emnetabell {
    width: 60%;
    border-collapse: collapse;
    margin: auto;
    font-weight: 600;
    text-align: center;
    border: 1px solid black;

    
}
.emnetabell td {
    border: 1px solid black;
    font-size: medium;
}
.emnetabell th {
    background-color: gray;
    border: 1px solid black;
    vertical-align: top;
    font-weight: 600;
    text-align: center;
}
.emnetabell .poeng {
    text-align: right;
    vertical-align: bottom;
    

}
.emnegruppe {
    font-weight: 600;
    text-align: center;
    font-size: medium;
    
}
/* Nedtrekks listene */
.info {
    font-family: Arial, sans-serif;
    margin: 10px;
    line-break: strict;
    box-shadow: 8px 8px 4px gray;
    background-color: #F5FBFF;
    }

.nedtrekkInnformasjon {
    
    
}

.semester details {
    margin-top: 5px;
    margin-bottom: 5px;
}

summary {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    background-color: rgb(136, 172, 224);
    padding-top: 20px;
    padding-bottom: 20px;

    
}

summary::before {
    content: "+";
    width: 20px;
    height: 20px;
    color: black;
    font-weight: bold;
    margin-right: 10px;
    
}

details[open] summary::before {
    content: "-";
    padding-bottom: 7px;
    padding-left: 1px;
 
}

a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
}

a:hover {
    text-decoration: underline;
}
/*Ferdig med listene*/

.nedtrekkArtikler{
    display: flex;
    flex-direction: column;
}




footer {
    background-color: rgb(173, 216, 230);
    position: relative;
    padding: 10px;
    text-align: left;
}

.newsletter-link {
    display: inline-block;           
    background-color: #000;          
    color: #fff;                     
    padding: 20px 30px;              
    text-decoration: none;                         
    text-align: center;     
    font-weight: bold; 
    font-size: 16px;        
    border-radius: 5px;              
    margin-bottom: 10px;             
}

.newsletter-link:hover {
    background-color: #333;          
}

hr.solid {
border-top: 1px solid black;
border-bottom: black;
}

.schoolbanner {
    text-align: left;
    color: black;
    font-size: 14px;
}
.bold-text {
   margin: 0;
   font-weight: bold;
}
.normal-text {
   margin: 0;
   font-weight: normal;
}

.contact-info {
    text-align: left;
    font-size: 16px;
    color: black;
}
.contact-info p {
    margin: 4px 0;
}
.contact-link {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.contact-link:hover {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.footer-links {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 10px;
}

.footer-links a {
    color: black;
    font-weight: bold;
    text-decoration: none; 
}
.footer-links a:hover {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
    padding-top: 40px;
}

.footer-icons a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}
.footer-icons a:hover {
    text-decoration: underline;
}

.footer-icons img {
    width: 30px;
    height: 30px;
}

.study-place {
    display: block;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.underline-text-place {
    text-decoration: underline;
    text-decoration-color:rgb(136, 172, 224);
    text-decoration-thickness: 2px;
    margin-bottom: 20px;
}

.education-questions {
    display:block;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.underline-text-q {
    text-decoration: underline;
    text-decoration-color:rgb(136, 172, 224);
    text-decoration-thickness: 2px;
    margin-bottom: 20px;
}


.manager-title {
    display: block;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.further-interests-title {
    font-weight: bold;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.manager-profile {
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    transition: background-color 0.3s; 
    justify-content: space-between; 
    margin:0 auto;
}

.manager-profile:hover {
    background-color: #f0f0f0;
}

.manager-image img {
    width: 121px;
    height: 162px;
    border-radius: 8px;
    margin-right: 20px;
}

.manager-info {
    font-size: 14px;
    flex-grow: 1;
    margin-right: 20px;
   
}

.manager-info strong {
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}
 .arrow {
    font-size: 24px;
    margin-left: 20px;
 }



.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    gap: 15px;
}

.card { 
    display: flex;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    text-decoration: none;
    color: inherit;
    margin: auto;
    gap: 15px;
    align-items: center;
}


.card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card-content {
    padding: 16px;
    background-color: #fff;
}

.card-content h3 {
    font-size: 18px;
    margin: 0 0 8px;
    color: #333;
}

.card-content p {
    font-size: 14px;
    color: #666;
}
   
