<<<<<<< Updated upstream
=======
.nav i {
    padding-right: 3%;
}

.oslometIMG {
    position: fixed;
    bottom: 630px; /* 10px from the bottom of the viewport */
    right: 1200px; /* 10px from the right of the viewport */
    height: auto;
}
>>>>>>> Stashed changes

body {
    margin: 0px;
    
}

header {
<<<<<<< Updated upstream
    background-color: rgb(255, 213, 0);
=======
    background-color: #ffd500;

}
>>>>>>> Stashed changes

}
ul {
    list-style-type: none;
<<<<<<< Updated upstream
    margin-top:0px;
=======
    margin-top: 0px;
>>>>>>> Stashed changes

}

li {
    display: inline-block;
    margin: 20px;
}


.BachelorrogramTable tr td{
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    border-top: 1px solid black;
}
main {
    margin-left: 10%;
    margin-right: 10%;
}
.BachelorrogramTable {
    border-spacing: 30px 10px;
    width: 100%;
}
h1 {
    font-size: 50px;
}

h1, h2, h3 {
 padding: 10px;
}

.nav {
    text-align: right;
}

