
body {
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    color: #000000;
    background-color: #ffffff;
}

h2, p {
    line-height: 1.6;
}

header {
    background-color: #004d4d;
    color: #ffffff;
    padding: 1rem 2rem;
    border-bottom: 4px solid #006666;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

header h1 {
    padding: 1rem 2rem;
    font-weight: 100;
    font-size: 2rem;
}
  
header .nav ul{
    display: flex;
    list-style-type: none;
    text-align: center;
   }
  
 header .nav a {
    flex:1;
    padding: 1vw;
    text-decoration: none;
    font-size: 1vw;
  }
  
  @media screen and (max-width:500px) {
     header {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  
     header .nav a {
      font-size: 1rem;
    }
  }

header .nav a {
    color: #ffffff;
    text-decoration: none;
}

header .nav a:hover {
    text-decoration: underline;
}

header nav a.active {
    text-decoration: underline;
  }

.mode-switch {
    justify-content: center;
}

main {
    padding: 1rem;
}

.breadcrumb {
    list-style: none;
    text-align: center;
  }
  
  /* Display list items side by side */
 .breadcrumb li {
    display: inline;
    font-size: 12px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  .breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  .breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  .breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

section {
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: transparent;
    padding: 1rem;
    border: 2px #ddd solid;
    border-radius: 5px;
}
section:focus {
    outline: 2px bold
    #00f;
    outline-offset: 5px;
}

 /* https://www.geeksforgeeks.org/how-to-make-dark-mode-for-websites-using-html-css-javascript/*/
.dark-mode {      
    background-color: black;
    color: white;
}
.light-mode {
    background-color: #ffffff;
    color: #000000;
}
.btn-dark, .btn-light
{
    height: 30px;;   
    font-weight: bold;
    border-radius: 8px;
}
.btn-dark {
    background-color: black;
    color: #ffffff;
    border: #000000 2px solid;
}
.btn-light {
    background-color: #ffffff;
    color: #000000;
    border: #ffffff 2px solid;
}
.btn-dark:hover, .btn-light:hover {
    background-color: transparent;
}
.btn-dark:hover {
    color: #000000;
    border: #000000 2px solid;
}
.btn-light:hover {
    color: #ffffff;
    border: #ffffff 2px solid;
}

.dropdown {
    position: relative;
    display: inline-block;
    color:#fff; 
 }
  
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: auto; 
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
    text-align: left;
    border-radius: 4px;
}
  
.dropdown-content a {
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-weight: normal;
}
  
.dropdown-content a:hover {
    background-color: #f0f0f0;
    text-decoration: none; 
    font-weight: bold;
}
  
/* Showing dropdown-content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.link {
    color:#2546f0;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}

img {
    width: 100%;
    height: auto;
}

form input[type="text"], form input[type="email"] {
    padding: 10px;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: 2px solid #006666;
    border-radius: 5px;
    font-size: 15px;
}
.submit-btn {
    height: 40px;
    width: 100%;
    background-color: #2546f0;;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: rgb(255, 102, 1); 
    color: #ffffff;
}
.error-message {    
    color: red;
    font-size: 0.9em; 
    display: none;
}
/* hjelper svaksynte til å se skrivefeltet*/
a:focus, input:focus { 
    outline: rgb(255, 102, 1) 3px solid;
}

footer {
    background-color: #004d4d;
    border-top: 4px solid #006666;
    padding: 1rem;
    text-align: center;
    color: #ffffff;
}
/* https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Responsive_Design */

